footer {
	text-align: left !important;
	font-size: 12px;
}

footer a {
	text-decoration: none;
	color: #6c757d;
}

footer a:hover,
footer a:active {
	color: #fff;
}

.table-api td {
	padding: 0;
}

.table-api tr {
	border-color: transparent;
}